// import-fonts
@font-face {
    font-family: "DM Serif Display";
    src: url("../../fonts/DMSerifDisplay-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Public-Sans";
    src: url("../../fonts/PublicSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Public-Sans-Bold";
    src: url("../../fonts/PublicSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Public-Sans-Italic";
    src: url("../../fonts/PublicSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Public-Sans-Regular";
    src: url("../../fonts/PublicSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Public-Sans-Thin";
    src: url("../../fonts/PublicSans-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Mono";
    src: url("../../fonts/RobotoMono-Regular.ttf") format("truetype");
}